<hr />
<div class="container">
    <div class="row">
        @Html.ActionLink("Manage Roles", "Index", "RoleAdmin")
    </div>
    @*<div class="row"> // chưa tạo trang UserAdmin
        @Html.ActionLink("Manage Users", "Index", "UserAdmin")
    </div>*@
</div>
